/* Background image */
.jumbotron {
    margin: 0;
    text-align: center;
    
    text-shadow: 2px 2px #000;
  }

  
  .lead span {
    color: orange;
    font-weight: bold;
  }

  h1 {
    font-family: "Docktrin Regular";
    font-size: 75px;
    text-transform: uppercase;
    text-shadow: 3px 3px white;
  }


  #bookButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    align-content: flex-end;
  }
  
  .bg-cover {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -2;
  }
  
  .overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .logo {
    height: 50px;
    
  }
.navbar {
    display: flex;
    margin-bottom: 35px;
    background-color: darkred;
    padding: 0px;
    
}

.ul {
  justify-content: flex-end;
}
.nav-logo {
  height: 100px;
  width: 75px;
}

#bbqHead {
    margin-bottom: 35px;
    font-family: "Docktrin Regular";
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 3px 3px darkred;
}